 <center><h1>Chapitre 7 Les tables Séance n°2: opérations sur les tables CSV </h1></center>

<font color = red>**Désormais, nos tables seront des listes de dictionnaires**</font>

Lors de cette séance, vous allez apprendre comment extraire l'information d'une liste / table. 

1. A partir d'une table existante, comment extraire une nouvelle table avec seulement certains champs (certaines colonnes) : on appelle cela une projection
2. Trier une liste suivant un certain critère
3. Fusionner deux tables ayant au moins un champ commun.
4. Extraire certains enregistrements d'une table

## Projection

In [2]:
ma_table = [{'prenom':'Antoine', 'nom':'Dupont', 'Anglais':"10", 'NSI':"10", 'Maths':"18"},
            {'prenom':'Louise',  'nom':'Dupont', 'Anglais':"17", 'NSI':"18", 'Maths':"14"},
            {'prenom':'Louise',  'nom':'Ampere', 'Anglais':"17", 'NSI':"18", 'Maths':"14"},
            {'prenom':'Pierre',  'nom':'Zebro', 'Anglais':"8",   'NSI':"4" , 'Maths':"20"}]

**Exercice 1**

Proposer un script qui permette de créer une nouvelle table contenant seulement le nom, le prenom, et les notes de NSI à partir de la table ci-dessus. 
On pourra s'inspirer de l'algo suivant : 
- creer une nouvelle table vide
- pour chaque eleve de la table de depart
- - creer un nouveau dictionnaire vide 
- - dans ce dictionnaire ajouter seulement les cles/valeurs à selectionner
- - ajouter le dictionnaire projeté dans la liste projetée

In [4]:
#votre code ici 
#afficher la liste projetée

Désormais, on va utiliser la fonction projection ci-dessous,

In [4]:
def projection(table, liste_descripteurs):
    """
    paramètres d'entrée :
        la table de dictionnaires
        la liste de descripteurs est une liste des champs à garder
    action : 
        crée une table "projetée" suivant la liste des champs retenus ['descript1', 'descript2',... ]
    paramètre de sortie
         la table projetée
    """
    ma_liste=[]  # on déclare une nouvelle liste vide
    for ligne in table : # on parcourt la table de dictionnaire
        mon_dico = {} #  # on cree le nouveau dictionnaire
        for clé in ligne :  #pour chaque clé du dictoinnaire de départ
            if clé in liste_descripteurs :  #si la clé est dans la liste de la projection
                mon_dico[clé] = ligne[clé]  #  on ajoute l'élement dans le nouveau dictionnaire
        ma_liste.append(mon_dico)  # on ajoute le dictionnaire dans la nouvelle liste vide
    return ma_liste

   **Exercice 2** appeler la fonction ci-dessus avec *ma_table* et les descripteurs 'prenom', 'nom', 'NSI'.

In [6]:
#votre code ici

## TRI

Puisqu'une table est représentée par une liste, on peut la trier en utiliser la fonction de tri *sorted* qui dispose d'un argument *key* permettant de préciser selon quel critère une liste doit être triée.  

Exécuter le code suivant. la liste est-elle triée par note en NSI croissante ? Quel est le problème ?

In [5]:
def tri(table, champ, r):
    """
    paramètres d'entrée : 
    - la table à trier
    - le champ sur lequel on doit trier
    - un boolean pour trier dans l'ordre inverse
    paramètre de sortie
    - la table triée
    """
    
    def critere(ligne):
        return ligne[champ]
    
    ma_table_triee = sorted(table,key = critere, reverse = r)
    return ma_table_triee




print(ma_table)
ma_table_triee = tri(ma_table, "NSI", False)

ma_table_triee

[{'prenom': 'Antoine', 'nom': 'Dupont', 'Anglais': '10', 'NSI': '10', 'Maths': '18'}, {'prenom': 'Louise', 'nom': 'Dupont', 'Anglais': '17', 'NSI': '18', 'Maths': '14'}, {'prenom': 'Louise', 'nom': 'Ampere', 'Anglais': '17', 'NSI': '18', 'Maths': '14'}, {'prenom': 'Pierre', 'nom': 'Zebro', 'Anglais': '8', 'NSI': '4', 'Maths': '20'}]

[{'prenom': 'Antoine',
  'nom': 'Dupont',
  'Anglais': '10',
  'NSI': '10',
  'Maths': '18'},
 {'prenom': 'Louise',
  'nom': 'Dupont',
  'Anglais': '17',
  'NSI': '18',
  'Maths': '14'},
 {'prenom': 'Louise',
  'nom': 'Ampere',
  'Anglais': '17',
  'NSI': '18',
  'Maths': '14'},
 {'prenom': 'Pierre',
  'nom': 'Zebro',
  'Anglais': '8',
  'NSI': '4',
  'Maths': '20'}]

**Exercice 3** Trier la table *ma_table* de façon à trier les noms de famille par ordre alphabétique.

In [8]:
#votre code ici

## EXTRACTION DE LIGNES

**Exercice 4** 

Il est possible que l'on ait besoin d'extraire certaines lignes (certains enregistrements) d'une table. Imaginons que l'on veut seulement les enregistrements des gens qui s'appellent 'Dupont'. Ecrire une fonction extrait_table(table, champ, valeur) qui renverra une table ne contenant que les enregistrements dont le champ a cette valeur. 
Par exemple, l'appel de extrait_table(ma_table, 'nom', 'Dupont') renverra :

[[{'prenom': 'Antoine', 'nom': 'Dupont', 'Anglais': '10', 'NSI': '10', 'Maths': '18'}, {'prenom': 'Louise', 'nom': 'Dupont', 'Anglais': '17', 'NSI': '18', 'Maths': '14'}]

In [9]:
def extrait_table(table, champ, valeur):
    #votre code
    

print(extrait_table(ma_table, 'nom', 'Dupont'))

[{'prenom': 'Antoine', 'nom': 'Dupont', 'Anglais': '10', 'NSI': '10', 'Maths': '18'}, {'prenom': 'Louise', 'nom': 'Dupont', 'Anglais': '17', 'NSI': '18', 'Maths': '14'}]

## FUSION DE TABLES

On veut fusionner deux tables ayant un attribut (ou champ) commun. On va sélectionner dans chaque table la ligne ayant la même valeur pour l'attribut commun. 
Imaginons deux tables appelées table1 et table2. Voici ce que donnera la fusion :

![title](fusion.png)

A partir de la description ci-dessus, écrire en python la table de dictionnaire correspondant à table 1 et table 2

In [3]:
#votre code ici 
table1 = 

table2 =

Voici la fonction qui permettra de réaliser la fusion, appelée aussi jointure. 
Appeler la fonction avec les deux tables définies ci-dessus et afficher la table fusionnée.
On ne demande pas de refaire ce code.

In [4]:
def jointure(table1, table2, cle):
    table_jointure = []
    for ligne1 in table1:
        for ligne2 in table2:
            #si l'attribut commun a la même valeur dans les deux lignes
            if ligne1[cle] == ligne2[cle]:
                #on fusionne les deux lignes
                ligne_jointure = ligne1.copy() #on recopie le contenu de la première ligne
                #on ajoute le contenu de la deuxième
                for champ in ligne2:
                    if champ != cle:
                        ligne_jointure[champ] = ligne2[champ]
                table_jointure.append(ligne_jointure)        
    return table_jointure

[{'Nom': 'Joe', 'Maths': '16', 'Anglais': '17', 'Info': '18', 'Age': '16', 'Courriel': 'joe@info.fr'}, {'Nom': 'Zoé', 'Maths': '19', 'Anglais': '15', 'Info': '17', 'Age': '16', 'Courriel': 'joe@info.fr'}]